
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheWanderingMentat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/TheWanderingMentat.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/materialize.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu.css" />
</head>




<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <header>
                    <nav class="navbar flex-xxl-column">
                        <div class="left-align">
                            <ul class="nav flex-column center-align">
                                <li class="nav-item">
                                    <a class="waves-effect waves-light btn" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="waves-effect waves-light btn" asp-area="" asp-controller="Home" asp-action="Code">Code</a>
                                </li>
                                <li class="nav-item">
                                    <a class="waves-effect waves-light btn" asp-area="" asp-controller="Home" asp-action="CV">CV</a>
                                </li>
                                <li class="nav-item">
                                    <a class="waves-effect waves-light btn" asp-area="" asp-controller="Home" asp-action="Hobby">Hobbies</a>
                                </li>
                                <li class="nav-item">
                                    <a class="waves-effect waves-light btn" asp-area="" asp-controller="Home" asp-action="PuzzleBalls">PuzzleBalls</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav custom-nav flex-row">
                                <li class="nav-item">
                                    <form asp-action="ChangeLanguage" asp-controller="Home" method="post">
                                        <input type="hidden" name="newLang" value="en" />
                                        <button type="submit" style="border: none; background: none; padding: 0;">
                                            <img src="~/usflag.png" alt="English" class="img-flag" />
                                        </button>
                                    </form>
                                </li>
                                <li class="nav-item">
                                    <form asp-action="ChangeLanguage" asp-controller="Home" method="post">
                                        <input type="hidden" name="newLang" value="pl" />
                                        <button type="submit" style="border: none; background: none; padding: 0;">
                                            <img src="~/plflag.png" alt="Polski" class="img-flag" />
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
            </div>

            <div class="col-11 text-center" style="margin-left: 10%;">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
