/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  p
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


                <div class="col l3 s12" style="float:right; padding-left: 20px; max-width:20%;">
                    <h5 class="black-text">See me on:</h5>
                    <ul>
                        <li><a class="blue-text" href="https://www.codingame.com/profile/28ec275521df546d9a8dcb88b0cdeadb7061733">CodinGame.com</a></li>
                        <li><a class="blue-text" href="https://github.com/TheHawat">GitHub</a></li>
                        <li><a class="blue-text" href="https://www.linkedin.com/in/mholowaty/">LinkedIn</a></li>
                    </ul>
                </div>