@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/TheWanderingMentat.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/materialize.css" />
<link rel="stylesheet" href="~/css/menu.css" />
<body>

    <form method="post" asp-action="Move" asp-controller="CV">
        <input type="hidden" name="squareId" value="red">
        <button type="submit"><img id="red" class="image" src="~/red.png" alt="R"></button>
    </form>
    <a asp-area="" asp-controller="CVController" asp-action="Move" squareId="blue">
        <img id="blue" class="image" src="~/blue.png" alt="B">
    </a>

</body>


