html {
    font-size: 14px;
}

@media (min-width: 1000px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.btn {
    background-color:black;
    width:94%;
    margin-left:3%;
    align-items:center;
}

.waves-effect waves-light btn {

}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-small, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: -2px;
    margin-left: 3%;
    margin-right: 15px;
}